<div class="col-md-6">
  <table class="table table-striped">
    <thead>
    <tr>
        <th>name</th>
        <th>age</th>
        </tr>
    </thead>
   
    
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.name}}</td>
            <td>{{employee.age}}</td>
            <td><button class="btn btn-danger" (click)="deleteEmployee(employee)"> Delete Employee</button></td>
            </tr>
    </tbody>
      </table>
    </div>